.info-presentation ol li #code {
    width: 100%;
}

@media screen and (max-width: 480px) {
	.page-content > h1 {
		font-size: 30px;
	}
	.demands {
		font-size: 10px;
	}
	.info-presentation ol {
		font-size: 14px;
	}
}