.eddy-gallery {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 60%;
	margin: 0 auto;
	font-size: 22px;
}
.flex-images {
	display: flex;
	flex-direction: row;
}
.flex-images div {
	padding: 10 10;
}
.flex-images img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}
.eddy-gallery h3 {
	color: #2d3052;
	font-size: 26px;
}
@media screen and (max-width: 480px) {
	.flex-images {
		flex-direction: column;
	}
	.eddy-gallery {
		text-align: center;
	}
}